<section class="section hero">
  <div class="hero-inner">
<h1 class="dls-text -master -headline-xl">How can we help?</h1>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>
<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <div class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <div class="blocks-item dls-article__body1">
              <a href='{{url}}' class="blocks-item-link mr5 ml5">
                <h4 class="blocks-item-title dls-text -headline-md mb1 ">{{name}}</h4>
                {{!-- <img src="//p14.zdassets.com/hc/theme_assets/1831488/115000161328/{{id}}.svg" alt="" role="img" /> --}}
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </div>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h3 class="dls-card__title sectionHeading">{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles dls-ul">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
</div>
